#{extends 'main.html' /}
#{set title:'Change Password' /}


    #{field 'acknowledgementMsg'}
    <p class="fError">
        <span class="error"><strong>${acknowledgementMsg}</strong></span>
    </p>
    #{/field}
    #{form @updatePassword()}
    
    #{field 'user.password'}
        <p class="${field.errorClass}">
            <strong>Password:</strong> <input type="password" name="${field.name}" id="txtPassword" size="16" value=""> 
            <span id="passErrField" class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'NewPassword'}
        <p class="${field.errorClass}">
            <strong>New password:</strong> <input type="password" name="${field.name}" id="txtNewPassword" size="16" value=""> 
        </p>
    #{/field}   
    
    #{field 'verifyNewPassword'}
        <p class="${field.errorClass}">
            <strong>Verify New password:</strong> <input type="password" name="${field.name}" id="txtVerifyPassword" onchange="varifyPassword(this, txtNewPassword, verifyNewPasswordErrField)" size="16" value="">  
            <span id="verifyNewPasswordErrField" class="error">${field.error}</span>
        </p>
    #{/field}   
       <p class="buttons">
        <input type="submit" value="Update"> 
    </p>
#{/form}