#{extends 'main.html' /}
#{set title:'Timetable' /}

<link href="@{'/public/css/main.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/css/tables.css'}" rel="stylesheet" type="text/css" />

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

<div align="left">
	<h1>Timetable</h1>
	<p>Please select the days you're going to <b>${user.university}</b> and specify your arrival and leaving times. 
		Additionally you can add information about having a car available. (Don't forget to save your changes!)</p>
</div>

<div align="right" style="margin-right: 35px">
	<form action="select.htm">
	 <p>
	   <select name="semester" size="1">
	     <option selected value="SS 2010">SS 2010</option>
	     <option>WS 11/12</option>
	     <option>SS 2012</option>
	     <option>WS 12/13</option>
	     <option>SS 2013</option>
	   </select>
	 </p>
</form>
</div>

#{if timetable}
	<form action="@{Profile.saveTimetable()}" method="GET">
		<table class="box-table-a" border="1" style="width: 95%;">
			<tr valign="middle">
			    <th align="center" width="14%"></th>
			    <th align="center" width="13%">Monday</th>
			    <th align="center" width="13%">Tuesday</th>
			    <th align="center" width="13%">Wednesday</th>
			    <th align="center" width="13%">Thursday</th>
			    <th align="center" width="13%">Friday</th>
			    <th align="center" width="13%">Saturday</th>
			</tr>
			<tr>
				<td>Drive?</td>
				<td align="center">
					#{field 'timetable.driveMonday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.driveMonday ? 'checked':''}>
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.driveTuesday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.driveTuesday ? 'checked':''}>
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.driveWednesday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.driveWednesday ? 'checked':''}>
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.driveThursday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.driveThursday ? 'checked':''}>
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.driveFriday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.driveFriday ? 'checked':''}>
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.driveSaturday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.driveSaturday ? 'checked':''}>
				    #{/field}
				</td>
			</tr>
			<tr>
				<td>Car?</td>
				<td align="center">
					#{field 'timetable.carMonday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.carMonday ? 'checked':''}>
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.carTuesday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.carTuesday ? 'checked':''}>
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.carWednesday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.carWednesday ? 'checked':''}>
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.carThursday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.carThursday ? 'checked':''}>
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.carFriday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.carFriday ? 'checked':''}>
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.carSaturday'}
				            <input type="checkbox" name="${field.name}" ${timetable?.carSaturday ? 'checked':''}>
				    #{/field}
				</td>
			</tr>
			<tr>
				<td>Start Time:</td>
				<td align="center">
					#{field 'timetable.startTimeMonday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.startTimeMonday}">
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.startTimeTuesday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.startTimeTuesday}">
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.startTimeWednesday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.startTimeWednesday}">
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.startTimeThursday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.startTimeThursday}">
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.startTimeFriday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.startTimeFriday}">
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.startTimeSaturday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.startTimeSaturday}">
				    #{/field}
				</td>
			</tr>
			<tr>
				<td>Leave Time:</td>
				<td align="center">
					#{field 'timetable.leaveTimeMonday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.leaveTimeMonday}">
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.leaveTimeTuesday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.leaveTimeTuesday}">
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.leaveTimeWednesday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.leaveTimeWednesday}">
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.leaveTimeThursday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.leaveTimeThursday}">
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.leaveTimeFriday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.leaveTimeFriday}">
				    #{/field}
				</td>
				<td align="center">
					#{field 'timetable.leaveTimeSaturday'}
				            <input type="text" style="width: 40px; text-align:center;" name="${field.name}" value="${timetable?.leaveTimeSaturday}">
				    #{/field}
				</td>
			</tr>
		</table>
		<br>
		<input type="submit" style="width:80px;" value="Save">
		<a href="@{Profile.logout()}">Logout</a> 
	</form>

#{/if}
#{if !timetable}
	<p>You don't have a timetable deposited yet. Do you want to deposit one now?</p>
	<form action="@{Profile.initiateTimetable()}" method="GET">
		<br>
		<input type="submit" style="width:80px;" value="Yes">
		<a href="@{Profile.logout()}">Logout</a> 
	</form>
#{/if}