body{
	margin:auto;
	margin-top:1%;
	background: #d0d0f5;
	font-family:"Arial";
	font-size:13px;
	width:1200px;
}

#banner{
	width:1200px;
	height:100px;
}

#navigationBar{
	width:1200px;
	height:60px;
	margin-top:10px;
}

#mainContent{
	border:1px solid black;
	float:left;
	padding:10px;
	margin-top:10px;
}

#content{
	width:880px;
	float:left;
	padding:10px;
	border:1px solid black;
}

#user{
	width:270px;
	float:right;
	border:1px solid black;
}

#ads{
	width:270px;
	margin-top:10px;
	float:right;
	border:1px solid black;
}

#footer{
	width:1200px;
	height:40px;
	float:left;
	color:#7070a2;
    font-size:11px;
    text-align:center;
	font-size: 70%;
    border-top: 1px dotted #ccc;
    padding:10px;
	margin-top:10px;
}

.nav {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    overflow:hidden;
    border: 1px solid;
    position:relative;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    margin:0px auto;
    padding:0px;
    text-align:center;
    font-family:"Arial";
    font-size: 14px;
    color:white;
    border-color:black;
}

.navSpalte{
	border-right: 1px solid;
	border-bottom: 4px solid;
	position:relative;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
	border-color:black;
}

.navSpalte:hover{
	color:withe;
	border-color: black;
	cursor:pointer;
}

.subNav{
	visibility:hidden;
}

.search{
	background: #d0d0f5;
	border-color: black;
}

.button{
	position:relative;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
	background: #d0d0f5;
	border-color: black;
}

.bottom {
     color:#7070a2;
     font-size:11px;
     text-align:center;
     margin:10px;
}

.content{
	font-family:"Arial";
	font-size:13px;
}

.textbox{
	border-color: black;
	font-family:"Arial";
	font-size:13px;
}

a {
    background: none repeat scroll 0 0 transparent;
    text-decoration: none;
}
a.whiteAnchor{ color: white;}

br
{
        clear: left;
}


label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
}

form p {
    text-align: center;
    height: 20px;
}

form p.field {
    text-align: left;
    margin: 0 0 5px 0;
}

form strong {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 10px;
    background: #eee;
    padding: 2px;
}

form p {
    clear: both;
    text-align: left;
    margin: 7px 0;
    min-height: 15px;
}

form p.hasError {
    color: #c00;
	font-size:16px;
}

form .hasError .error {
    font-size: 80%;
}

form .buttons {
    text-align: left;
    background: #dedede;
    padding: 10px;
    margin-top: 20px;
}
form .buttonsWithNoBG {
    text-align: left;
    padding: 10px;
    margin-top: 20px;
}
table.ridesTable {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.ridesTable th {
	border-width: 1px;
	padding: 2px;
	border-style: dotted;
	border-color: gray;
	background-color: rgb(255, 250, 250);
	-moz-border-radius: ;
}
table.ridesTable td {
	border-width: 1px;
	padding: 2px;
	border-style: dotted;
	border-color: gray;
	background-color: rgb(255, 250, 250);
	-moz-border-radius: ;
}