#{extends 'main.html' /}
#{set title:'Register' /}

<h1>Register</h1>

<form action="@{Application.saveUser()}" method="GET">
        <p>
            <strong>Username:</strong> <input type="text" name="username" size="16">
        </p>
    <p>
            <strong>First name:</strong> <input type="text" name="fname" size="16">
        </p>
        <p>
            <strong>Last name:</strong> <input type="text" name="lname" size="16">
        </p>
        <p>
            <strong>Email:</strong> <input type="text" name="email" size="16">
        </p>
        <p>
            <strong>Password:</strong> <input type="password" name="password" size="16">
        </p>
    <p class="buttons">
        <input type="submit" value="Register"> <a href="@{Application.index()}">Cancel</a>    
</p>
