#{extends 'main.html' /}
#{set title:'Show rides' /}

 
 <table>
        <thead>
            <tr>
                <th>Name of driver</th>
                <th>Start point</th>
                <th>City, State</th>
                <th width="8%">Zip</th>
                <th width="13%">Action</th>
            </tr>
        </thead>
        <tbody>
            #{list rides, as:'ride'}
                <tr>
                    <td>${ride.nameOfDriver}</td>
                    <td>${ride.startPoint}</td>
                    <td>${ride.regularity}</td>
                    <td></td>
                    <td></td>
                    
                    
              
                    
                    
                </tr>
            #{/list}
        </tbody>
    </table>

<a href="@{Application.index()}">Back to main page</a>