#{extends 'main.html' /}
#{set title:'Home' /}

<link href="@{'/public/css/main.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/css/tables.css'}" rel="stylesheet" type="text/css" />
 
<p><strong>Name of Driver:</strong> ${newRide.driver.username ?: 'guest'}!</p>
<p><strong>Start point:</strong> ${newRide.startPoint?: 'Muenchen'}</p>
<p><strong>Destination campus:</strong> ${unis.destinationCampusMap.get(newRide.destinationCampusId)?: 'error'}</p>
<p><strong>Number of seats available:</strong> ${newRide.numOfSeatsAvailable ?: 'error'}</p>
<p><strong>Date:</strong> ${newRide.rideDate?: 'error'}</p>
<p><strong>Regularity:</strong> ${unis.regularityList.get(newRide.regularity) ?: 'error'}</p>
<p><strong>Comments:</strong> ${newRide.comments ?: 'No comments'}</p>