#{extends 'main.html' /}
#{set title:'Show rides' /}

 <table class="ridesTable">
        <thead >
            <tr valign="middle">
                <th  align="center">Name of driver</th>
                <th align="center">Start point</th>
                <th align="center">Dest. campus</th>
                <th align="center">Date</th>
                <th width="8%" align="center">Num. of seats</th>
                <th  align="center">Regularity</th>
                <th width="13%" align="center">Comments</th>
            </tr>
        </thead>
        <tbody>
            #{list rides, as:'ride'}
                <tr valign="middle">
                    <td align="center">${ride.nameOfDriver}</td>
                    <td align="center">${ride.startPoint}</td>
                    <td align="center">${unis.destinationCampusMap.get(ride.destinationCampusId)}</td>
                    <td align="center">${ride.rideDate}</td>
                    <td align="center">${ride.numOfSeatsAvailable }</td>
                    <td align="center">${unis.regularityList.get(ride.regularity)}</td>
                    <td align="center">${ride.comments}</td>
                    
                </tr>
            #{/list}
        </tbody>
    </table>

<a href="@{Rides.logout()}">Logout</a> <br>
<a href="@{Rides.index()}">Back to main page</a>