#{extends 'main.html' /}
#{set title:'Show rides' /}

 <h1>Search Rides</h1>

<p>
    <input type="text" id="search" size="30">
    <input type="submit" id="submit" value="Find Rides">

    <br>

    Maximum results: 
    <select id="size">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
</p>

<div id="result">
</div>

<script type="text/javascript" charset="${_response_encoding}">

    // Rebuild state
    $('#search').val(sessvars.search)    
    if(sessvars.page == undefined) {
        sessvars.page = 1
    }
    if(sessvars.size == undefined) {
        sessvars.size = 10
    }
    $('#size option[value='+sessvars.size+']').attr('selected', 'true')
    
    // Search function
    var search = function() {
        sessvars.search = $('#search').val()
        sessvars.size = $('#size').val()
        var listAction = #{jsAction @list(':search', ':size') /} 
        $('#result').load(listAction({search: sessvars.search, size: sessvars.size}), function() {
            $('#content').css('visibility', 'visible')
        })
    }
    
    // Events handler
    $('#submit').click(function() {
        sessvars.page = 1
        search()
    })
    $('#search').keyup(function() {
        sessvars.page = 1
        search()
    })
    
    // Init
    if(sessvars.search != undefined) {
        $('#content').css('visibility', 'hidden')
        search()
    }
    
</script>
#{ifnot rides}
    <p>
        No Rides Found
    </p>
#{/ifnot}
#{else}
 <table>
        <thead>
            <tr>
                <th>Name of driver</th>
                <th>Start point</th>
                <th>Dest. campus</th>
                <th width="8%">Num. of seats</th>
                <th >Regularity</th>
                <th width="13%">Comments</th>
            </tr>
        </thead>
        <tbody>
            #{list rides, as:'ride'}
                <tr>
                    <td>${ride.nameOfDriver}</td>
                    <td>${ride.startPoint}</td>
                    <td>${unis.destinationCampusMap.get(ride.destinationCampusId)}</td>
                    <td>${ride.numOfSeatsAvailable }</td>
                    <td>${unis.regularityList.get(ride.regularity)}</td>
                    <td>${ride.comments}</td>
                    
                </tr>
            #{/list}
        </tbody>
    </table>
    
#{/else}


<a href="@{Rides.logout()}">Logout</a> <br>
<a href="@{Rides.index()}">Back to main page</a>